.game-result {
  padding-top: 150px;

  &__title {
    font-size: 4.5rem;
  }

  &__reset {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 4px;
    color: #000;
    &:hover {
      color: #ac0000;
    }

  }
}

@media (max-width: 767px) {
  .game-result {
    padding-top: 10px;
  }

}