.game-process {
  margin-top: 3rem;

  &-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s;
    animation: fadeIn .8s;
  }

  &-result {
    text-align: center;
    animation: fadeIn .8s;
  }

  &__item {
    width: 250px;
    height: 250px;
    margin: 3rem auto 0;
    border-radius: 50%;
    position: relative;

    .winner-indicator__wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(0);
      z-index: -1;
    }

    .winner-indicator__wrapper.indicator_active {
      transition: all .6s;
      transform: scale(1.4);
    }
  }
}

.empty-item {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
}

@media (max-width: 992px) {
  .game-process__item {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 425px) {
  .game-process-selection {
    flex-direction: column-reverse;
  }

  .game-process__item {
    width: 110px;
    height: 110px;
  }

}


