@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
}

body {
    background: rgb(31, 55, 86);
    background: radial-gradient(circle at 50% 0, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

img {
    user-select: none;
}

.dark {
    color: hsl(229, 25%, 31%);
}

@media (max-width: 425px) {
    html {
        font-size: 11px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}